header {
  height: 120px;
}

.container {
  height: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;

  height: 100%;

  z-index: 10;
}

.section-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}
.section-content p {
  color: white;
  font-size: 24px;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .logo-header {
  display: flex;
  align-items: center;
}

.menu .logo-header .logo {
  margin-right: 10px;
}

.menu .menu-header {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.menu .menu-header .item-list {
  list-style: none;

  width: 110px;
  height: 60px;

  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

.menu .menu-header .item-list:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

.menu .menu-header .item-list .link-item {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
}

main {
  height: 100vh;
  width: 100%;
}

main .section-one {
  height: 100%;
  position: relative;
}

main .section-one::after {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: black;

  opacity: 70%;
  z-index: -1;
}

main .section-one .section-one-background {
  object-fit: cover;
  object-position: 50% 50%;

  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
